@use "../../styles/responsive.scss" as *;

.navbar {
  width: 100%;
  max-width: 1920px;
  height: 80px;
  background-color: #202121;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  z-index: 1000;

  .logoContainer {
    width: 144px;
    height: 39px;
    position: absolute;
    top: 21px;
    left: 885px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include tablet {
    .logoContainer {
      top: 18px;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      height: auto;
    }
  }

  @include mobile {
    width: 414px;
    height: 80px;
    background-color: #202121;
    transform: none;
    left: 0;
    .logoContainer {
      width: 84px;
      height: 50%;
      left: 166px;
      transform: none;
    }
  }
  .progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #f80d54;
    transition: width 0.2s ease;
    z-index: 10;
  }
}
